@font-face {
    font-family: 'Pretendard-Black';
    src: url('../fonts/Pretendard-Black.woff2') format('woff2');
    font-style: normal;
}

.wrap {
    padding: 150px 60px;
    box-sizing: border-box;
    background-image: url('../images/sec_why_back.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.wrap>.txt_box {
    margin: 0 0 42px 0;
    color: #fff;
}

.wrap>.txt_box h3 {
    font-family: 'Pretendard-Black', sans-serif;
    font-size: clamp(42px, 4.7vw, 90px);
}

.wrap>.txt_box p {
    font-size: clamp(18px, 1.7vw, 32px);
    font-weight: 500;
    line-height: 1.5;
    word-break: keep-all;
}

.itme_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    text-align: center;
    color: #fff;
}

.itme_box li {
    width: 25%;
    padding: 75px 0;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
}

.itme_box li .img_box {
    max-width: 60px;
    margin: 0 auto 20px auto;
}

.itme_box li .img_box img{
    width: 100%;
}

.itme_box li h5 {
    font-size: clamp(22px, 1.7vw, 32px);
    font-weight: 600;
    line-height: 1.5;
    margin: 0 0 20px 0;
}

.itme_box li p {
    font-size: clamp(18px, 1.1vw, 22px);
    font-weight: 500;
    line-height: 1.5;
    word-break: keep-all;
}

@media(max-width:1240px){
    .itme_box {
        flex-direction: column;
        gap: 10px;
    }

    .itme_box li {
        width: 100%;
        padding: 60px 30px;
    }
    .m_br {
        display: none;
    }
}


@media(max-width:768px) {
    .wrap {
        padding: 150px 15px;
    }
}