@font-face {
    font-family: 'Pretendard-Regular';
    src: url('../src/fonts/Pretendard-Regular.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Medium';
    src: url('../src/fonts/Pretendard-Medium.woff2') format('woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('../src/fonts/Pretendard-Bold.woff2') format('woff2');
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
}

::selection {
    background-color: #FF5722;
    color: white;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 60px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 100;
}

.header.sticky{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header .logo_box {
    max-width: 119px;
    cursor: pointer;
}

header .logo_box img {
    width: 100%;
}

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

header nav ul li .puffu_icon {
    max-width: 12px;
    margin: 0 auto;
    padding: 0 0 5px 0;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out;
}

header nav ul li.active .puffu_icon.visible {
    opacity: 1;
    visibility: visible;
}

header nav ul li .puffu_icon img {
    width: 100%;
}

header nav ul li:hover .puffu_icon {
    max-width: 12px;
    margin: 0 auto;
    opacity: 0;
    visibility: hidden;
}

header nav ul li p {
    font-size: clamp(14px, 0.9vw, 18px);
    font-family: 'Pretendard-Bold';
    color: #000;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

header nav ul li:hover p{
    color: #FF5722;
}

header nav ul li.active p {
    color: #FF5722;
}

header .btn_box button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2px;
    font-size: 18px;
    font-family: 'Pretendard-Bold';
}

header .btn_box button p {
    transition: all 0.2s ease-in-out;
    border-bottom: transparent 2px solid;
}

header .btn_box button:hover p {
    border-bottom: #000 2px solid;
}

header .btn_box button .img_box {
    max-width: 30px;
    transition: all 0.2s ease-in-out;
}

header .btn_box button:hover .img_box {
    transform: translateY(-3px);
}

header .btn_box button .img_box img {
    width: 100%;
}


@media(max-width:1240px) {
    header nav ul {
    gap: 20px;
}
}

@media(max-width:768px) {
    header {
        padding: 15px 15px;
    }

    header .logo_box {
        max-width: 90px;
    }

    header nav {
        display: none;
    }
}